<p style="color: pink">
  This is style inline
</p>

<p [ngStyle]="{'color': 1 === 1 ? 'green' : 'pink'}">
  This is style use ngStyle
</p>

<p class="external">
  This is style external file
</p>

<p class="internal">
  This is style internal file
</p>

<div class="header">
  <h3>Left</h3>
  <h1>Middel</h1>
  <h3>Right</h3>
</div>

<style>
  .internal {
    color: orange !important
  }
</style>