<form (ngSubmit)="onBuyCourse(courseForm)" #courseForm="ngForm">
  <input type="text" [ngModel]="selectedCourse.name" name="name" />
  <button type="button" (click)="_navigateToList()">Buy</button>
</form>

<!-- <app-course-list [courses]="courses"></app-course-list> -->
<a href="/list" routerLinkActive="active">Click to list</a>