<p>
  ngrx-store-example works!
</p><br>
<p>npm i @ngrx/core -save</p><br>
<p>npm i @ngrx/store -save</p><br>
<p>npm i @ngrx/effects -save</p><br>

<form action="">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>