<button (click)="_goToPipeExample()">Go to pipe example screen</button><br />
<a [routerLink]="['/directive']">Go to directive example</a><br>
<a [routerLink]="['/get-data-navigation']" [state]="{ data: dataShare}">Go to and push data to other screen</a><br>
<button (click)="_navigateFromController()">Navigate from controller</button><br />
<a [routerLink]="['/navigation-with-params', userId]">Navigation with param id</a><br>