<ul>
  <li *ngFor="let color of colors" [ngStyle]="{'color': color.value}">
    {{color.value}}
  </li>
</ul>

<form #colorForm="ngForm" (ngSubmit)="_addColor()">
  <input type="text" placeholder="Enter color" name="customColor"[(ngModel)]="customColor">
  <button type="submit">Add Color</button>
</form>

<p>Only show color <span style="color: orange">orange</span></p>
<div *ngIf="isEnterOrange" style="width: 50px; height: 35px; background-color: orange;"></div>