<!-- <app-search></app-search> -->
<nav>
    <a [routerLink]="['/simple-form']">Simple Form</a><br/>
    <a [routerLink]="['/directive']">Directive</a><br/>
    <a [routerLink]="['/lifecycle']">Lifecycle component</a><br/>
    <a [routerLink]="['/component-interaction']">Component interaction</a><br/>
    <a [routerLink]="['/display-data']">Display data</a><br/>
    <a [routerLink]="['/component-styling']">Component styling</a><br/>
    <a [routerLink]="['/pipes']">Pipe example</a><br/>
    <a [routerLink]="['/template-driven-form']">Template driven from</a><br/>
    <a [routerLink]="['/reactive-form']">Reactive form example</a><br/>
    <a [routerLink]="['/handle-api-rxjs']">Handle api with httpClient and RxJs</a><br/>
    <a [routerLink]="['/service-example']">Service example</a><br/>
    <a [routerLink]="['/share-data-service']">Share data via service example</a><br/>
    <a [routerLink]="['/routing-navigation']">Routing and Navigation</a><br/>
    <a [routerLink]="['/output-and-eventemitter']">Test eventemiiter and output</a><br/>
    <a [routerLink]="['/detail', title]">Super Detail</a>
</nav>
<div style="margin-top: 100px">
    <router-outlet></router-outlet>
</div>
