<p>
  {{ 'Uppercase this text!' | uppercase }}
</p>

<p>{{ docs | json }}</p>

<p>{{ dataPromise | async | lowercase }}</p>

<p>use custom pipe to round 7.6685840293: {{ numberRound | roundPipe }}</p>