{{diagnostic}}
<div class="container">
  <h1>Course Form</h1>
  <form (ngSubmit)="onSubmit(courseForm.value)" #courseForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="model.name" name="name" #name="ngModel" required>
    </div>

    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
    </div>

    <div class="form-group">
      <label for="alterEgo">Author</label>
      <input type="text" class="form-control" id="author" [(ngModel)]="model.author" name="author" #author="ngModel" required>
    </div>

    <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
      Author is required
    </div>

    <div class="form-group">
      <label for="power">Price</label>
      <select class="form-control" id="price" [(ngModel)]="model.price" name="price">
        <option *ngFor="let price of prices" [value]="price" name="price">{{ price }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!courseForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="newCourse(); courseForm.reset()">New Course</button>
  </form>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Author</div>
      <div class="col-xs-9">{{ model.author }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Price</div>
      <div class="col-xs-9">{{ model.price }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>
