<form>
  First name:<br>
  <input type="text" name="firstname" placeholder="Enter firstname" [(ngModel)]="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname" placeholder="Enter lastname" [(ngModel)]="lastname"><br><br>
  <select>
    <option>Giới tính</option>
    <option *ngFor="let g of genders" [value]="g.value">{{g.value}}</option>
  </select><br/><br/><br/>
  <input type="button" value="Submit" (click)="clickMe()">
</form>